<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>covid19 ePass portal | admin home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{/JS/security.js}"></script>
    <link rel="stylesheet" th:href="@{/CSS/login.css}">
</head>
<!--body-->
<body oncontextmenu="return false;">
<!--Header-->
<div id="header"class="header navbar navbar-expand-md navbar-light"><div id="logo">
    <a href="/adminlogin"  class="navbar-brand logo float-left" style=" outline: none; font-size: 25px; "><div style="background-image:  linear-gradient(90deg,#755bea,#ff72c0); -webkit-background-clip:text; -webkit-text-fill-color:transparent;"> covid19 ePass portal</div></a></div>
    <button style="outline: none; background-image:  linear-gradient(90deg,#755bea,#ff72c0); -webkit-background-clip:text; -webkit-text-fill-color:transparent;"class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarId">
        <span style="outline: none; background-image:  linear-gradient(90deg,#755bea,#ff72c0); -webkit-background-clip:text; -webkit-text-fill-color:transparent;" class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarId" align="center">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="adminlogin"  style="outline: none; font-size: 18px; background-image:  linear-gradient(90deg,#755bea,#ff72c0); -webkit-background-clip:text; -webkit-text-fill-color:transparent;" class="nav-link" data-toggle="tooltip" title="Logout!"th:text="'Hello! '+${message}"></a>
            </li>
        </ul>
    </div>
</div>
<br>
<div class="containerpre" width="80%" align="center" style="color: gray;">
    <h3 align="center">PREVIOUS SUBMISSION</h3>
    <br>
    <table class="table table-bordered"  style="text-align: center; width:80%;">
        <thead style="text-align: center; font-size: 22px; color: honeydew;">
        <tr>
            <th>Reason</th>
            <th>Date</th>
            <th>Count</th>
            <th>ID Proof</th>
            <th>Travel On</th>
            <th>Travel Distance</th>
            <th>From</th>
            <th>To</th>
            <th>Result</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody style="text-align: center; font-size: 18px; color: darkgray">
        <tr th:each="m:${show}">
            <td th:text="${m?.reason}"></td>
            <td th:text="${m?.date}"></td>
            <td th:text="${m?.count}"></td>
            <td th:text="${m?.id_proof}"></td>
            <td th:text="${m?.travel_on}"></td>
            <td th:text="${m?.travel_distance}"></td>
            <td th:text="${m?.from_district}"></td>
            <td th:text="${m?.to_district}"></td>
            <td th:text="${m?.result}"></td>
            <td>
                <a th:href="@{/view/{id}(id=${m?.id})}"  class="btn btn-success btn-sm" role="button">view</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<!--footer-->
<div id="footerform" align="center" style="margin-bottom: 0px; padding-bottom:0px; ">
    <footer class="page-footer font-small text-muted" style="font-size: 10px;">
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="/adminlogin"> Covid19 Epass portal</a>
            <br>
            Developed and Maintained by <a href="https://www.linkedin.com/in/kandhasamy-ramanathan-bb92801a2" target="_blank">Kandhasamy R</a>
        </div>
    </footer>
</div>
</body>
</html>